<div class="container text-center">
    <br> <br>
<h1>{{title}}</h1>
    <hr>
  </div>
<br> <br>
<div class="container">
    <div class="row">
        <table class="inlineTable">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of booksIssuedToUser">
              <td style="width: 350px; height: 350px;"><img src= '{{ book.imagePath }}'  style="height: 300px;"></td>
                <td><b>Book Name</b>
                <br>
                <b>Author</b> 
                <br>
                <b>Available From</b>
                </td>
                <td><b>: {{book.name}}</b>
                <br>
                <b>: {{book.author}}</b>
                <br>
                <b>:</b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

