<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Library-Management-System</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Book</th>
                            <th scope="col">Author</th>
                            <th scope="col" class="text-center">Duration</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let book of cartItems" >
                            <td><img src='{{book.imagePath}}' style = "height:100px"/> </td>
                            <td>{{book.name}}</td>
                            <td>{{book.author}}</td>
                            <td>From:<input type="date" name="bday" required> <br>To: <input type="date" name="bday" required></td>
                        </tr>
                        <!-- <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Toto</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            
                        </tr>
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Titi</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            
                        </tr> -->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                                                    </tr    >
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-lg btn-block btn-light">Continue Browsing</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase" (click) = "booksIssued()" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Issue Books</button>                 

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">

             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" routerLink = "/home">&times;</button>
                 <h4 align = "left" class="modal-title"><b>Issue Succesful !!</b></h4>
               </div>
               <div class="modal-body">
                 <p align = "left"><b>Enjoy Reading !</b></p>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink = "/home">Close</button>
               </div>
             </div>

           </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
